<?xml version="1.0"?>
<config>
    <modules>
        <Shopwerft_LogMailer>
            <version>0.1.0</version>
        </Shopwerft_LogMailer>
    </modules>
    <global>
        <models>
            <swlogmailer>
                <class>Shopwerft_LogMailer_Model</class>
            </swlogmailer>
        </models>
        <helpers>
            <swlogmailer>
                <class>Shopwerft_LogMailer_Helper</class>
            </swlogmailer>
        </helpers>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Shopwerft_LogMailer>
                    <files>
                        <default>Shopwerft_LogMailer.csv</default>
                    </files>
                </Shopwerft_LogMailer>
            </modules>
        </translate>
    </adminhtml>

    <crontab>
        <jobs>
            <logmailer_send_log>
                <schedule><cron_expr>0 6 * * *</cron_expr></schedule>
                <run><model>swlogmailer/cron::sendLog</model></run>
            </logmailer_send_log>
        </jobs>
    </crontab>

</config>
