<?xml version="1.0"?>
<config>

    <modules>
        <Shopwerft_LogMailer>
            <version>1.0.0</version>
        </Shopwerft_LogMailer>
    </modules>

    <global>
        <models>
            <shopwerft_logmailer>
                <class>Shopwerft_LogMailer_Model</class>
            </shopwerft_logmailer>
        </models>
        <helpers>
            <shopwerft_logmailer>
                <class>Shopwerft_LogMailer_Helper</class>
            </shopwerft_logmailer>
        </helpers>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <shopwerft_logmailer>
                    <files>
                        <default>Shopwerft_LogMailer.csv</default>
                    </files>
                </shopwerft_logmailer>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <dev>
            <log>
                <logmailingactive>0</logmailingactive>
                <logfiles/>
                <receivers/>
            </log>
        </dev>
    </default>

    <crontab>
        <jobs>
            <shopwerft_logmailer_send_log>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>shopwerft_logmailer/cron::sendLog</model>
                </run>
            </shopwerft_logmailer_send_log>
        </jobs>
    </crontab>

</config>
